// varibale : is a single store value store
// Think of variables as a way to store information that you want to reuse throughout your stylesheet. You can store things like colors, font stacks, or any CSS value you think you’ll want to reuse. Sass uses the $ symbol to make something a variable. Here’s an example:
$bg-color : red;
$color : blue;
$size : 50px;


#h1{
    background-color: $bg-color;
    color: $color;
}

h2{
    background-color: $color;
    color: $bg-color;
    font-size: $size;
}