@media only screen and (max-width:1160px) {}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {
    .ul-nav {
        display: none;
    }

    .icons .search {
        display: none;
    }

    .icons .bar {
        display: block;
    }

    .header-content {
        width: 100%;
    }
}

@media only screen and (max-width:576px) {
    #sec1 .row {
        display: block;
    }

    #sec1 .row .col-6 {
        width: 100%;
    }
    .sec1-img{
        width: 100%;
    }

    #sec1 .row .col-4 {
        width: 100%;
        padding: 20px 0px;
    }
    .sec1-h1 {
        width: 100%;
        text-align: center;
    }
    .sec1-btn{
        margin: 0 auto;
    }
    .sec1-p{
        width: 100%;
        text-align: center;
        margin: 10px 0px;
    }

}